<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.saschaheusner89.flip7">

    <!-- HTML und Schriften liegen offline in der App; INTERNET nur als Rückfall für die Schriften -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Flip 7"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:supportsRtl="false">

        <!-- configChanges: bei Drehen/Splitscreen/Tastatur wird die WebView NICHT neu geladen -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation|uiMode|density|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
